<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Statse</title>
        <!-- Online Boostrap css -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
</head>
<body >

        <div>
            <nav class="navbar navbar-expand-lg m-2 bg-light">
                <div class="container-fluid">
                    <h1 class="me-5">Hello  {{users.fname}}! ,these is your stats!</h1>
                    <div class="nav justify-content-end">
                        <a class="btn btn-medium btn-primary me-5" href="/wishes">Dashbourd</a>
                        <a  class="btn btn-medium btn-primary me-5" href="/logout">Log out</a>
                        <!-- <input type="submit" value="Make a wish"> -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>
    <div class="m-5">
        
        <p class="lead" >
            Total wishes Grantde so far all Users: {{granting}}</p>
        <P>Your granted wishes :{{ userWishes }}</P>  
        <p>Your Pending wishes :{{pendingWish}} </p> 
    </div>

</body>
</html>