<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div id="goldCont">
            <span>Your Gold</span>
            <input type="text">
        </div>
        <form action="/root" method="post">
            
        </form>
        <form action="/root" method="post"></form>
        <form action="/root" method="post"></form>
        <form action="/root" method="post"></form>
        <p>Active</p>
        <div id="textArea">

        </div>
    </div>
</body>
</html>